* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 20px;
}

window {
    background-color: rgba(8, 8, 18, 0.75);
    background-image: none;
} 

button {
    color: rgba(255, 255, 255, 0.55);
    font-size: 20em;

    background-color: rgba(18, 18, 30, 0.0);
    background-position: center;
    background-size: 150px;
 
    outline-style: none;
    border: 2px solid rgba(255, 255, 255, 0.55);
    border-width: 1px;
    border-radius: 14px;
 
    box-shadow: none;
    text-shadow: none;
 
    margin: 10px 3px;
 
    transition: all 0.25s cubic-bezier(.55, 0.0, .28, 1.682);
}

/* button:focus,button:active {
    background-color: #3700B3;
    border-color: #7C4DFF;
    outline-style: none;
} */

button:focus {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.85);
    background-size: 200px;
}
 
button:focus#logout {
    background-color: rgba(157, 49, 103, 0.534);
    border-color: rgba(157, 49, 103, 0.534);
    color: #fa5ead;
    border-radius: 14px;
    margin: 6px 3px;
}
 
button:focus#shutdown {
    background-color: rgba(157, 49, 103, 0.534);
    border-color: rgba(157, 49, 103, 0.534);
    color: #fa5ead;
    border-radius: 14px;
    margin: 6px 3px;
}
 
button:focus#hibernate {
    background-color: rgba(50, 176, 136, 0.638);
    border-color: rgba(50, 176, 136, 0.638);
    color: #00fbad;
    border-radius: 14px;
    margin: 6px 3px;
}
 
button:focus#reboot {
    background-color: rgba(50, 176, 136, 0.638);
    border-color: rgba(50, 176, 136, 0.638);
    color: #00fbad;
    border-radius: 14px;
    margin: 6px 10px 6px 3px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
